<div class="container">
    <div id="sign">
	<div class="card">
		<div class="row">
             
			<div class="col-md-6">
              
				<img src="{{ product.imagePath }}" alt="" class="p-block">
			</div>
           
			<div class="col-md-6">
				<h2>{{product.title}}</h2>
				<br>
				<br>
				<h1>Price:₹{{ product.price }}</h1>
				
				<h2>{{product.description}}</h2>

			
            </div>
			<div class="text-left">
                        <div class="clearfix">
								<div class="price pull-left">${{ this.price }}
								<button id="{{ product._id }}" onclick="addProduct(event)">Add
                            to cart
                            
                        </button></div>
                    </div>
                    </div>
		</div>
	</div>
</div>

<script>

    function addProduct(e) {
        e.preventDefault();
        productId = e.target.id;
        axios.post("/add/:id", { id: productId, _csrf: "{{ csrfToken }}" })
            .then(res => {
                if (res.data.success) {
                    // Updating the Quantity in the Navbar
                    totalQty = document.getElementById('total-qty');
                    if (totalQty.innerText == '') {
                        totalQty.innerText = 1;
                    } else {
                        totalQty.innerText = parseInt(totalQty.innerText) + 1;
                    }
                }
            })
            .catch(err => console.log(err));
    }
</script>